@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


main{
    overflow: hidden;
}

.spanish{
    display:block;
}

.english{
    display: none;
}

.spanish_footer{
    display: block;
}

.english_footer{
    display: none;
}

.slider_container{
    width: 100%;
    height: 100%;
    display: flex;
    
}

.slider_container__eng{
    width: 100%;
    height: 100%;
    display: flex;
}

.contenido_slider{
    width: 100%;
    flex-shrink: 0;
}

.contenido_slider__eng{
    width: 100%;
    flex-shrink: 0;
}

.img_home{
    position: absolute;
    width: 100%;
}

.botones_header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
    
}

.botonLogo{
    background-color: #373737;
    width: 459px;
    height: 105px;
    border-radius: 0 0 20px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.logoBoton_1{
    width: 66px;
    height: 66px;
}

.titulo_boton{
    font-size: 18px;
    color:white;
    font-family: 'Playfair Display', serif;
}

.botonContacto{
    background-color: #505954;
    width: 302px;
    height: 68px;
    border-radius: 46px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.text_contacto{
    color:white;
    font-size: 16px;
    font-family: 'Roboto'; 
}

.icono_Contacto{
    background-color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.icono_mail{
    font-size: 30px;
    line-height: 50px;
}

.menu_lateral{
    position: relative;
    margin-top: 220px;
}

ul{
    list-style: none;
}


.li_laterla_1{
    background-color: #373737;
    width: 445px;
    height: 66px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #F5F5F5;
    border-left: none;
    line-height: 66px;
    text-align: right;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_laterla{
    background-color: #E5DACE;
    width: 340px;
    height: 66px;
    margin: 15px 0;
    border-radius: 0 10px 10px 0;
    line-height: 66px;
    text-align: right;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #373737;
}

.menu_lateral__right{
    position: absolute;
    margin-top: 220px;
    margin-left: 68%;
    
 }

.li_lateralRight_1{
    background-color: #373737;
    width: 445px;
    height: 66px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #F5F5F5;
    border-right: none;
    line-height: 66px;
    text-align: left;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_lateralRight{
    background-color: #E5DACE;
    width: 340px;
    height: 66px;
    margin: 15px 0;
    border-radius: 10px 0 0 10px;
    line-height: 66px;
    text-align: left;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #373737;
    margin-left: 105px;
}

.btn_idioma{
    position: relative;
    display: flex;
    justify-content: right;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-right: 30px;
}

.idioma_btn{
    background-color: #E7BAA0;
    width: 80px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    
}

.btn_spanish{
    width: 40px;
    height: 40px;
    transition: 0.3s;
    background: none;
}

.btn_spanish:hover{
    transform: scale(1.2);
}

.btn_english{
    width: 40px;
    height: 40px;
    transition: 0.3s;
    
}

.btn_english:hover{
    transform: scale(1.2);
}

.idioma_btn__2{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 540px;
    margin-right: 20px;
}

.idioma_btn__3{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 160px;
    margin-right: 20px;
}

.idioma_btn__4{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 540px;
    margin-right: 20px;
}

.idioma_btn__5{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer{
    background-color: #373737;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
   
}

.info_footer{
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.logos_footer{
    background-color: white;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
}

.icons_footer{
    line-height: 25px;
    font-size: 14px;
}

h4{
    font-family: 'Roboto';
    color: #E7BAA0;
    font-size: 14px

}

p{
    font-family: 'Roboto';
    color: white;
    font-size: 14px;
    
}

.text_talento{
    color: white;
    font-weight: 400;
    margin-left: 5px;
}

.estilo_talento{
    margin-top: 15px;
}

/* .margen_footer_top{
    margin-top: 100px;
} */


.contenedor_loader {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 3s;
    transition-delay: 6s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}
.loader {
    color: #E7BAA0;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

*{
    font-size: 62.5%;
}


/* RESPONSIVE */

@media only screen and (max-width:800px) {

    .ocultar{
        overflow: hidden;
}
    .botones_header{
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        position: absolute;
        z-index: 2;
        overflow: hidden;
    }
    
    .botonLogo{
        background-color: #373737;
        width: 200px;
        height: 53px;
        border-radius: 0 0 10px 10px;
        border: none;
        display: flex;
        align-items: center;
        justify-content:space-around;
        overflow: hidden;
    }
    
    .logoBoton_1{
        width: 33px;
        height: 33px;
    }
    
    .titulo_boton{
        font-size: 9px;
        color:white;
        font-family: 'Playfair Display', serif;
    }
    
    .botonContacto{
        background-color: #505954;
        width: 100px;
        height: 40px;
        border-radius: 50px;
        border: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;
        
    }
    
    .text_contacto{
        color:white;
        margin-left: 2px;
        font-size: 5px;
        font-family: 'Roboto'; 
    }
    
    .icono_Contacto{
        background-color: white;
        border-radius: 50px;
        width: 25px;
        height: 25px;
    }
    
    .icono_mail{
        font-size: 15px;
        line-height: 25px;
    }


    
.menu_lateral{
    position: relative;
    margin-top: 85px;
}

ul{
    list-style: none;
}


.li_laterla_1{
    background-color: #373737;
    width: 150px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #F5F5F5;
    border-left: none;
    line-height: 33px;
    text-align: right;
    padding: 0 10px; 
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_laterla{
    background-color: #E5DACE;
    width: 150px;
    height: 30px;
    margin: 8px 0;
    border-radius: 0 5px 5px 0;
    line-height: 33px;
    text-align: right;
    padding: 0 10px; 
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: #373737;
}

.menu_lateral__right{
    position: absolute;
    margin-top: 110px;
    margin-left: 34%;
    
 }

.li_lateralRight_1{
    background-color: #373737;
    width: 150px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #F5F5F5;
    border-right: none;
    line-height: 33px;
    text-align: left;
    padding: 0 10px; 
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_lateralRight{
    background-color: #E5DACE;
    width: 170px;
    height: 33px;
    margin: 8px 0;
    border-radius: 5px 0 0 5px;
    line-height: 33px;
    text-align: left;
    padding: 0 10px; 
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: #373737;
    margin-left: 53px;
}


.btn_idioma{
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: right;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-right: 30px;
}

.idioma_btn{
    background-color: #E7BAA0;
    width: 80px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    
    
}

.btn_spanish{
    width: 40px;
    height: 40px;
    transition: 0.3s;
    background: none;
}

.btn_spanish:hover{
    transform: scale(1.2);
}

.btn_english{
    width: 40px;
    height: 40px;
    transition: 0.3s;
    
}

.btn_english:hover{
    transform: scale(1.2);
}

.idioma_btn__2{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 540px;
    margin-right: 20px;
}

.idioma_btn__3{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 160px;
    margin-right: 20px;
}

.idioma_btn__4{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-top: 540px;
    margin-right: 20px;
}

.idioma_btn__5{
    width: 210px;
    height: 52px;
    border-radius: 44px;
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer{
    background-color: #373737;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 190px;
    overflow: hidden;
   
}

.info_footer{
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    justify-content: center;
}

.logos_footer{
    background-color: white;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
}

.icons_footer{
    line-height: 25px;
    font-size: 14px;
}

h4{
    font-family: 'Roboto';
    color: #E7BAA0;
    font-size: 14px

}

p{
    font-family: 'Roboto';
    color: white;
    font-size: 14px;
    
}

.text_talento{
    color: white;
    font-weight: 400;
    margin-left: 5px;
}

.estilo_talento{
    margin-top: 15px;
}



}

@media only screen and (min-width: 800px) and (max-width: 950px) {

}