@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



main{
    overflow: hidden;
}

.slider_container{
    width: 100%;
    display: flex;
    margin-bottom: 180px;
}

.contenido_slider{
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.img_home{
    position: absolute;
    width: 100%;
    height: auto;
}


/* TITULO Y BOTON DE CONTACTO */

.botones_header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
}

.botonLogo{
    background-color: #373737;
    width: 459px;
    height: 105px;
    border-radius: 0 0 20px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.logoBoton_1{
    width: 66px;
    height: 66px;
}

.titulo_boton{
    font-size: 18px;
    color:white;
    font-family: 'Playfair Display', serif;
}

.botonContacto{
    background-color: #505954;
    width: 302px;
    height: 68px;
    border-radius: 46px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.text_contacto{
    color:white;
    font-size: 16px;
    font-family: 'Roboto'; 
}

.icono_Contacto{
    background-color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.icono_mail{
    font-size: 30px;
    line-height: 50px;
}


/* TITULOS LATERALES */

.menu_lateral{
    position: relative;
    margin-top: 280px;
}

ul{
    list-style: none;
}


.li_laterla_1{
    background-color: #373737;
    width: 445px;
    height: 66px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #F5F5F5;
    border-left: none;
    line-height: 66px;
    text-align: right;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_laterla{
    background-color: #E5DACE;
    width: 340px;
    height: 66px;
    margin: 15px 0;
    border-radius: 0 10px 10px 0;
    line-height: 66px;
    text-align: right;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #373737;
}

.menu_lateral__right{
    position: absolute;
    margin-top: 280px;
    margin-left: 68%;
 }

.li_lateralRight_1{
    background-color: #373737;
    width: 445px;
    height: 66px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #F5F5F5;
    border-right: none;
    line-height: 66px;
    text-align: left;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_lateralRight{
    background-color: #E5DACE;
    width: 340px;
    height: 66px;
    margin: 15px 0;
    border-radius: 10px 0 0 10px;
    line-height: 66px;
    text-align: left;
    padding: 0 20px; 
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #373737;
    margin-left: 105px;
}


/* FOOTER */

.footer{
    background-color: #373737;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.info_footer{
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.logos_footer{
    background-color: white;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
}

.icons_footer{
    line-height: 25px;
    font-size: 14px;
}

h4{
    font-family: 'Roboto';
    color: #E7BAA0;
    font-size: 14px
}

p{
    font-family: 'Roboto';
    color: white;
    font-size: 14px;
    
}

.text_talento{
    color: white;
    font-weight: 400;
    margin-left: 5px;
}

.estilo_talento{
    margin-top: 15px;
}


.contenedor_loader {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 3s;
    transition-delay: 6s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}
.loader {
    color: #E7BAA0;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}



/* RESPONSIVE */

@media only screen and (max-width:800px) {

   

    .color_body_mobil{
        background-color: #373737;
}
   
/* TITULO Y BOTON DE CONTACTO */

.botones_header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
}

.botonLogo{
    background-color: #373737;
    width: 229px;
    height: 52px;
    border-radius: 0 0 10px 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.logoBoton_1{
    width: 33px;
    height: 33px;
}

.logoBoton_2{
    width: 66px;
    height: 66px;
}

.titulo_boton{
    font-size: 9px;
    color:white;
    font-family: 'Playfair Display', serif;
}

.botonContacto{
    background-color: #505954;
    width: 151px;
    height: 34px;
    border-radius: 23px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.text_contacto{
    color:white;
    font-size: 8px;
    font-family: 'Roboto'; 
}

.icono_Contacto{
    background-color: white;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}

.icono_mail{
    font-size: 15px;
    line-height: 25px;
}


/* TITULOS LATERALES */

.menu_lateral{
    position: relative;
    margin-top: 85px;
}

ul{
    list-style: none;
}


.li_laterla_1{
    background-color: #373737;
    width: 150px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #F5F5F5;
    border-left: none;
    line-height: 33px;
    text-align: right;
    padding: 0 10px; 
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_laterla{
    background-color: #E5DACE;
    width: 150px;
    height: 30px;
    margin: 7px 0;
    border-radius: 0 5px 5px 0;
    line-height: 33px;
    text-align: right;
    padding: 0 10px; 
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: #373737;
}

.menu_lateral__right{
    position: absolute;
    margin-top: 70px;
    margin-left: 50%;
 }

.li_lateralRight_1{
    background-color: #373737;
    width: 150px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #F5F5F5;
    border-right: none;
    line-height: 33px;
    text-align: left;
    padding: 0 10px; 
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: white;
}

.li_lateralRight{
    background-color: #E5DACE;
    width: 170px;
    height: 33px;
    margin: 7px 0;
    border-radius: 5px 0 0 5px;
    line-height: 33px;
    text-align: left;
    padding: 0 10px; 
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: #373737;
    margin-left: 52px;
}


/* FOOTER */

.footer{
    background-color: #373737;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 50px;
}

.footer_titulo_seguime{
    text-align: center;
    
}

.info_footer{
    display: flex;
    align-items: center;
    margin-top: 7px;
    cursor: pointer;
    justify-content: center;
}



.logos_footer{
    background-color: white;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    text-align: center;
}

.icons_footer{
    line-height: 12px;
    font-size: 7px;
    position: relative;
    bottom: 5px;
    
}

h4{
    font-family: 'Roboto';
    color: #E7BAA0;
    font-size: 12px
}

p{
    font-family: 'Roboto';
    color: white;
    font-size: 9px;
    
}

.text_talento{
    color: white;
    font-weight: 100;
    margin-left: 2px;
}

.estilo_talento{
    margin-top: 7px;
    font-size: 9px;
}



}